.button-hovered {
  background-color: "secondary.dark";
  filter: drop-shadow(0px 8px 28px rgba(275, 74, 169, 02))
    drop-shadow(0px 18px 88px rgba(275, 74, 169, 02));
  border: 1px solid #3b2c34;
  color: "primary.light";
}
